* {
    margin: 0;
    padding: 0;
}

table {
    width: 1192px;
    height: 736px;
    font-family: 'Arimo', sans-serif;
    border: 24px solid #374765;
    text-align: center;
    border-collapse: collapse;
    color: #484848;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.chooseYourPricingPlan {
    background-color: #fafafa;
    width: 310px;
    height: 156px;
}

.chooseYour {
    color: #484848;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}

.pricingPlan {
    color: #484848;
    font-size: 30px;
    font-weight: 700;
    line-height: 28px;
}

.standard {
    background-color: #89c331;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    width: 277px;
    height: 70px;
}

.ultimate {
    background-color: #f04a56;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    width: 277px;
    height: 71px;
}

.premium {
    background-color: #20807c;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    width: 277px;
    height: 70px;
}

.prices {
    background-color: #fafafa;
    width: 277px;
    height: 86px;
}

.dollar {
    color: #484848;
    font-size: 60px;
    font-weight: 700;
    line-height: 28px;
}

.cents {
    color: #484848;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    margin-left: 30px;
    margin-bottom: -15px;
}

.perMonth {
    color: #484848;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

.storageEmailProduct {
    background-color: #f2f2f2;
    height: 69px;
}

.bandwidthSupportUsers {
    background-color: #e3e3e3;
    height: 69px;
}

.icons {
    color: #848484;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
}

.but1 {
    background-color: #dddddd;
}

.but24 {
    background-color: #eeeeee;
}

.but3 {
    background-color: #f4f4f4;
}

td {
    box-shadow: inset -5px 0 5px -5px rgba(0, 0, 0, 0.27);
}

.contactUs {
    border-radius: 5px;
    border: none;
    background-color: #484848;
    border-bottom: #404040;
    width: 192px;
    height: 49px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
}

.contactUs:hover {
    background-color: #404040;
    text-decoration: underline;
}

.buyNowStandard {
    border-radius: 5px;
    border: none;
    background-color: #89c331;
    border-bottom: 5px solid #79b027;
    width: 192px;
    height: 49px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
}

.buyNowStandard:hover {
    background-color: #79b027;
    text-decoration: underline;
}

.buyNowUltimate {
    border-radius: 5px;
    border: none;
    background-color: #f04a56;
    border-bottom: 5px solid #df3a46;
    width: 192px;
    height: 49px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
}

.buyNowUltimate:hover {
    background-color: #df3a46;
    text-decoration: underline;
}

.buyNowPremium {
    border-radius: 5px;
    border: none;
    background-color: #20807c;
    border-bottom: 5px solid #16736f;
    width: 192px;
    height: 49px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
}

.buyNowPremium:hover {
    background-color: #16736f;
    text-decoration: underline;
}