* {
    margin: 0;
    padding: 0;
}

table {
    width: 1197px;
    height: 660px;
    border: 30px solid #374765;
    border-collapse: collapse;
    font-family: 'Arimo', sans-serif;
    color: #484848;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.chooseYourPricingPlan {
    background-color: #fafafa;
    width: 198px;
    height: 112px;
}

.chooseYour {
    color: #484848;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
}

.pricingPlan {
    color: #484848;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}

.mainTxt {
    color: #484848;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}

.icons {
    color: #848484;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
}

.standard {
    background-color: #89c331;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    width: 198px;
    height: 166px;
}

.ultimate {
    background-color: #f04a56;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    width: 198px;
    height: 166px;
}

.premium {
    background-color: #20807c;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    width: 198px;
    height: 166px;
}

.prices {
    margin-top: 20px;
}

.dollar {
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    line-height: 28px;
}

.cents {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    position: relative;
    bottom: 12px;
}

.perMonth {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
}

.buyNow {
    border-radius: 5px;
    border: none;
    background-color: #414141;
    border-bottom: #343434;
    width: 144px;
    height: 41px;
    margin-top: 20px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
}

.buyNow:hover {
    background-color: #343434;
    text-decoration: underline;
}

.storageEmailProduct {
    background-color: #e3e3e3;
    width: 157px;
    height: 112px;
}

.bandwidthSupportUsers {
    background-color: #f2f2f2;
    width: 157px;
    height: 112px;
}

td {
    box-shadow: inset 0 -5px 5px -5px rgba(0, 0, 0, 0.27);
}